body{
	background-color:#000;
}
div{
	vertical-align:top!important;
}
#main{
	width:100%;
	padding-top:108px;
	@include clearfix;
}
#main.sticky{
	padding-top:68px;
}

.content-stripe{
	width:100%;
	height:auto;
	position:relative;
	margin: 0;
	padding: 0;
	display:block;
	float:left;
	img{
		display:block;
		margin: 0;
		padding:0;
		width:100%;
		height:auto;
	}
}

.story-container{
	background-color:#fff;
	padding: 0;
	@include clearfix;
}

.privacy-container{
	background-color:#fff;
	padding: 4.0em;
	@include clearfix;
}

.video-content-stripe{
	@extend .content-stripe;
}

.bgimg{
	margin:0;
	padding: 0;
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:auto;
	z-index:1;
}
.stripe-content{
	position:absolute;
	z-index:2;
	width:100%;
	padding:5%;
}

.story-content{
	color:#333;
	padding:1.5% 0 5%;
	p{
		padding: 0% 10%;
		font-size: 1.2em;
		text-align:center;
		line-height:3.0em;
	}
	h1{
		color:#333;
		margin: 2% 0;
		text-align:center;
		font-size: 2.5em;
	}
}

.terms-content{
	color:#333;
	padding:1.5% 0 5%;
	p{
		padding: 0% 5%;
		font-size: 0.95em;
		text-align:left;
		line-height:1.5em;
	}
	h1{
		color:#333;
		margin: 2% 0;
		text-align:center;
		font-size: 1.5em;
	}
}

.store-container{
	text-align:center;
	img{
		margin: 8% auto 2%;
		width:38%;
		height:auto;
	}
}

#instafeed{
	@include span-columns(12);
	margin-top:0;
	@include clearfix;
}

.insta-content{
	
}

.instafeed-container{
	padding: 0;
	@include clearfix;
}

img#blvd_logo{
	width:40%;
	height: auto;
	&:hover{
		opacity: 1.0;
	}
}
