div{
	vertical-align:top!important;
}
#main{
	width:100%;
	clear:both;
}

.content-stripe{
	width:100%;
	height:auto;
	position:relative;
	margin: 0;
	padding: 0;
	display:block;
	float:left;
	img{
		display:block;
		margin: 0;
		padding:0;
		width:100%;
		height:auto;
	}
}

.story-container{
	background-image:url(../images/6d.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 2em;
	@include clearfix;
}

.video-content-stripe{
	@extend .content-stripe;
}

.bgimg{
	margin:0;
	padding: 0;
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:auto;
	z-index:1;
}
.stripe-content{
	position:absolute;
	z-index:2;
	width:100%;
	padding:5%;
}


