
h1{
	color:#fff; 
	padding:0.15em;
	display:block;
	font-family: "proxima-nova-alt",sans-serif;
	font-weight:400;
	letter-spacing: 2px;
	text-transform:uppercase;
}
h1.lookbook_title{
	position:absolute;
	left:2.5%;
	bottom:2%;
	z-index:5;
}
.light{
	opacity:0.33;
}