@charset "UTF-8";
/* line 5, ../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, ../sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, ../sass/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
/* line 13, ../sass/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
/* line 18, ../sass/base/extends/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, ../sass/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 10, ../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 22, ../sass/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 26, ../sass/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 30, ../sass/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 34, ../sass/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 38, ../sass/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 42, ../sass/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 46, ../sass/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 50, ../sass/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none;
}
/* line 55, ../sass/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 59, ../sass/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 65, ../sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 73, ../sass/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 79, ../sass/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 86, ../sass/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 90, ../sass/base/_typography.scss */
cite:before {
  content: "\2014 \00A0";
}

/* line 1, ../sass/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 8, ../sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, ../sass/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, ../sass/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, ../sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../sass/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, ../sass/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, ../sass/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477DCA;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, ../sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, ../sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 69, ../sass/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

/* line 74, ../sass/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../sass/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../sass/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0;
}

/* line 20, ../sass/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, ../sass/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 20, ../sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, ../sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, ../sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../sass/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1, ../sass/_partials/_footer.scss */
.footer {
  -webkit-font-smoothing: antialiased;
  background: #000;
  padding: 3em 1.618em;
  width: 100%;
}
/* line 9, ../sass/_partials/_footer.scss */
.footer ul {
  padding: 0;
}
/* line 13, ../sass/_partials/_footer.scss */
.footer li {
  list-style: none;
  line-height: 1.5em;
}
/* line 18, ../sass/_partials/_footer.scss */
.footer a {
  text-decoration: none;
}
/* line 32, ../sass/_partials/_footer.scss */
.footer .footer-logo {
  margin-bottom: 2em;
  text-align: center;
}
/* line 36, ../sass/_partials/_footer.scss */
.footer .footer-logo img {
  height: 3em;
}
/* line 41, ../sass/_partials/_footer.scss */
.footer .footer-links {
  margin-bottom: 1.5em;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
.footer .footer-links:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 40em) {
  /* line 41, ../sass/_partials/_footer.scss */
  .footer .footer-links {
    margin-left: 25.58941%;
  }
}
/* line 50, ../sass/_partials/_footer.scss */
.footer ul {
  margin-bottom: 3em;
}
@media screen and (min-width: 40em) {
  /* line 50, ../sass/_partials/_footer.scss */
  .footer ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  .footer ul:last-child {
    margin-right: 0;
  }
  /* line 82, ../sass/neat/grid/_omega.scss */
  .footer ul:nth-child(3n) {
    margin-right: 0;
  }
  /* line 87, ../sass/neat/grid/_omega.scss */
  .footer ul:nth-child(3n+1) {
    clear: left;
  }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  .footer ul:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* line 60, ../sass/_partials/_footer.scss */
.footer li {
  text-align: center;
}
@media screen and (min-width: 40em) {
  /* line 60, ../sass/_partials/_footer.scss */
  .footer li {
    text-align: left;
  }
}
/* line 68, ../sass/_partials/_footer.scss */
.footer li a {
  color: rgba(255, 255, 255, 0.4);
}
/* line 71, ../sass/_partials/_footer.scss */
.footer li a:hover {
  color: white;
}
/* line 76, ../sass/_partials/_footer.scss */
.footer li h3 {
  color: white;
  font-size: 1em;
  font-weight: 800;
  margin-bottom: .4em;
}
/* line 83, ../sass/_partials/_footer.scss */
.footer hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 auto 1.5em;
  width: 12em;
}
/* line 89, ../sass/_partials/_footer.scss */
.footer p {
  color: rgba(255, 255, 255, 0.4);
  font-size: .9em;
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  text-align: center;
}

/* line 2, ../sass/_partials/_typography.scss */
h1 {
  color: #fff;
  padding: 0.15em;
  display: block;
  font-family: "proxima-nova-alt",sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 11, ../sass/_partials/_typography.scss */
h1.lookbook_title {
  position: absolute;
  left: 2.5%;
  bottom: 2%;
  z-index: 5;
}

/* line 17, ../sass/_partials/_typography.scss */
.light {
  opacity: 0.33;
}

/* line 1, ../sass/_partials/_navigation.scss */
#page_navigation {
  position: fixed;
  display: block;
  top: 25%;
  right: 20px;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.0em 0.25em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 2.0em;
}
/* line 13, ../sass/_partials/_navigation.scss */
#page_navigation a {
  color: transparent;
  font-size: 0;
  display: block;
}
/* line 17, ../sass/_partials/_navigation.scss */
#page_navigation a img {
  width: 100%;
  height: auto;
}
/* line 21, ../sass/_partials/_navigation.scss */
#page_navigation a:hover {
  opacity: 0.5;
}
/* line 25, ../sass/_partials/_navigation.scss */
#page_navigation a.prev {
  margin-bottom: 20px;
}

/* line 34, ../sass/_partials/_navigation.scss */
header {
  position: fixed;
  width: 100%;
  line-height: 108px;
  height: 108px;
  background: #335C7D;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 45, ../sass/_partials/_navigation.scss */
header.sticky {
  line-height: 68px;
  height: 68px;
  background: rgba(0, 0, 0, 0.8);
}

/* line 52, ../sass/_partials/_navigation.scss */
.centered-navigation {
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  border-bottom: 1px solid black;
  min-height: 30px;
  width: 100%;
  z-index: 9999;
}
/* line 82, ../sass/_partials/_navigation.scss */
.centered-navigation .mobile-logo {
  display: inline;
  float: left;
  max-height: 30px;
  padding-left: 1em;
}
/* line 88, ../sass/_partials/_navigation.scss */
.centered-navigation .mobile-logo img {
  max-height: 30px;
  opacity: .6;
  padding: .8em 0;
}
@media screen and (min-width: 53.75em) {
  /* line 82, ../sass/_partials/_navigation.scss */
  .centered-navigation .mobile-logo {
    display: none;
  }
}
/* line 99, ../sass/_partials/_navigation.scss */
.centered-navigation .centered-navigation-mobile-menu {
  color: #fff;
  display: block;
  float: right;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 99, ../sass/_partials/_navigation.scss */
  .centered-navigation .centered-navigation-mobile-menu {
    display: none;
  }
}
/* line 114, ../sass/_partials/_navigation.scss */
.centered-navigation .centered-navigation-mobile-menu:hover {
  color: #333;
}
/* line 121, ../sass/_partials/_navigation.scss */
.centered-navigation .centered-navigation-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 999;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
.centered-navigation .centered-navigation-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
.centered-navigation .centered-navigation-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 128, ../sass/_partials/_navigation.scss */
.centered-navigation ul.centered-navigation-menu {
  -webkit-transform-style: preserve-3d;
  clear: both;
  display: none;
  margin: auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 99999;
}
/* line 138, ../sass/_partials/_navigation.scss */
.centered-navigation ul.centered-navigation-menu.show {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 128, ../sass/_partials/_navigation.scss */
  .centered-navigation ul.centered-navigation-menu {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 150, ../sass/_partials/_navigation.scss */
  .centered-navigation .nav-link:first-child {
    margin-left: 2.2em;
  }
}
/* line 156, ../sass/_partials/_navigation.scss */
.centered-navigation ul li.nav-link {
  background: #000;
  display: block;
  line-height: 30px;
  overflow: hidden;
  padding-right: 1em;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
/* line 166, ../sass/_partials/_navigation.scss */
.centered-navigation ul li.nav-link a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
  margin: 1.0em 0;
  font-size: 0.8em;
  text-transform: uppercase;
  vertical-align: baseline;
}
/* line 177, ../sass/_partials/_navigation.scss */
.centered-navigation ul li.nav-link a:hover {
  color: #333;
  border: 1px solid #333;
}
/* line 182, ../sass/_partials/_navigation.scss */
.centered-navigation ul li.nav-link a.sticky {
  vertical-align: top;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
@media screen and (min-width: 53.75em) {
  /* line 156, ../sass/_partials/_navigation.scss */
  .centered-navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 30px;
  }
  /* line 194, ../sass/_partials/_navigation.scss */
  .centered-navigation ul li.nav-link a {
    padding: 0 1em;
  }
}
/* line 200, ../sass/_partials/_navigation.scss */
.centered-navigation li.logo.nav-link {
  display: none;
  line-height: 0;
}
/* line 204, ../sass/_partials/_navigation.scss */
.centered-navigation li.logo.nav-link a:hover {
  border: 1px solid transparent;
}
@media screen and (min-width: 53.75em) {
  /* line 200, ../sass/_partials/_navigation.scss */
  .centered-navigation li.logo.nav-link {
    display: inline;
  }
}
/* line 214, ../sass/_partials/_navigation.scss */
.centered-navigation .logo img {
  margin-bottom: -1.25em;
  max-height: 3.75em;
  opacity: .6;
}
/* line 222, ../sass/_partials/_navigation.scss */
.centered-navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 222, ../sass/_partials/_navigation.scss */
  .centered-navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 229, ../sass/_partials/_navigation.scss */
.centered-navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 233, ../sass/_partials/_navigation.scss */
.centered-navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 237, ../sass/_partials/_navigation.scss */
.centered-navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 241, ../sass/_partials/_navigation.scss */
.centered-navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  color: #fff;
  content: '\25BE';
}
/* line 248, ../sass/_partials/_navigation.scss */
.centered-navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 252, ../sass/_partials/_navigation.scss */
.centered-navigation li.more a {
  padding-right: 1em;
}
/* line 256, ../sass/_partials/_navigation.scss */
.centered-navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 256, ../sass/_partials/_navigation.scss */
  .centered-navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 264, ../sass/_partials/_navigation.scss */
.centered-navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 272, ../sass/_partials/_navigation.scss */
.centered-navigation li.more:hover > .submenu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 248, ../sass/_partials/_navigation.scss */
  .centered-navigation li.more {
    padding-right: 1em;
    position: relative;
  }
}
/* line 282, ../sass/_partials/_navigation.scss */
.centered-navigation ul.submenu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 282, ../sass/_partials/_navigation.scss */
  .centered-navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 292, ../sass/_partials/_navigation.scss */
  .centered-navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}
/* line 299, ../sass/_partials/_navigation.scss */
.centered-navigation ul.submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 299, ../sass/_partials/_navigation.scss */
  .centered-navigation ul.submenu li {
    line-height: 23.07692px;
  }
  /* line 306, ../sass/_partials/_navigation.scss */
  .centered-navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 311, ../sass/_partials/_navigation.scss */
  .centered-navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: .7em;
  }
}
/* line 318, ../sass/_partials/_navigation.scss */
.centered-navigation ul.submenu li a {
  background-color: black;
  display: inline-block;
  text-align: right;
  text-decoration: none;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 318, ../sass/_partials/_navigation.scss */
  .centered-navigation ul.submenu li a {
    background-color: #000;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}

/* line 1, ../sass/_partials/_videobg.scss */
.header-video {
  position: relative;
  overflow: hidden;
}

/* line 6, ../sass/_partials/_videobg.scss */
iframe, video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 14, ../sass/_partials/_videobg.scss */
iframe {
  height: 100%;
  width: 100%;
}

/* line 19, ../sass/_partials/_videobg.scss */
video {
  width: 100%;
}

/* line 23, ../sass/_partials/_videobg.scss */
.teaser-video {
  width: 100%;
  height: auto;
}

/* line 28, ../sass/_partials/_videobg.scss */
.header-video--media {
  width: 100%;
  height: auto;
}

/* line 33, ../sass/_partials/_videobg.scss */
.video-trigger {
  z-index: 5;
  position: absolute;
  background: #222;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 60px;
  top: 0;
  z-index: 5;
  left: 50%;
  line-height: 60px;
  margin-left: -100px;
  top: 50%;
  margin-top: -30px;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;
}

/* line 54, ../sass/_partials/_videobg.scss */
.video-trigger:hover {
  background: #363636;
}

/* line 58, ../sass/_partials/_videobg.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2em;
}

/* line 1, ../sass/_partials/_instafeed.scss */
.instagram_image {
  display: block;
  float: left;
  width: 100%;
  max-width: 250px;
  padding: 0;
  margin: 0;
}
/* line 8, ../sass/_partials/_instafeed.scss */
.instagram_image img {
  width: 100%;
  height: auto;
  max-width: 250px;
  float: left;
}
/* line 13, ../sass/_partials/_instafeed.scss */
.instagram_image img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
/* line 17, ../sass/_partials/_bx-slider.scss */
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}

/* line 24, ../sass/_partials/_bx-slider.scss */
.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
/* line 32, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

/* line 48, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

/* LOADER */
/* line 57, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
/* line 70, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

/* line 79, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

/* line 86, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 99, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
/* line 106, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
}

/* line 111, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
}

/* line 116, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

/* line 120, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

/* line 124, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

/* line 135, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
/* line 141, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

/* line 145, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

/* line 155, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

/* line 160, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

/* line 170, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
/* line 177, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

/* line 182, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
/* line 189, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

/* line 198, ../sass/_partials/_bx-slider.scss */
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/* line 1, ../sass/_partials/_structure.scss */
body {
  background-color: #000;
}

/* line 4, ../sass/_partials/_structure.scss */
div {
  vertical-align: top !important;
}

/* line 7, ../sass/_partials/_structure.scss */
#main {
  width: 100%;
  padding-top: 108px;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 12, ../sass/_partials/_structure.scss */
#main.sticky {
  padding-top: 68px;
}

/* line 16, ../sass/_partials/_structure.scss */
.content-stripe, .video-content-stripe {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}
/* line 24, ../sass/_partials/_structure.scss */
.content-stripe img, .video-content-stripe img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

/* line 33, ../sass/_partials/_structure.scss */
.story-container {
  background-image: url(../images/6d.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 2em;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
.story-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 49, ../sass/_partials/_structure.scss */
.bgimg {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
}

/* line 60, ../sass/_partials/_structure.scss */
.stripe-content {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 5%;
}

/* line 67, ../sass/_partials/_structure.scss */
.story-content {
  color: #fff;
  padding: 0 0 5%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 71, ../sass/_partials/_structure.scss */
.story-content p {
  padding: 0% 5%;
}
/* line 74, ../sass/_partials/_structure.scss */
.story-content h1 {
  margin-bottom: 2%;
}

/* line 79, ../sass/_partials/_structure.scss */
#instafeed {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 2.0em;
}
/* line 85, ../sass/neat/grid/_span-columns.scss */
#instafeed:last-child {
  margin-right: 0;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
#instafeed:after {
  content: "";
  display: table;
  clear: both;
}

/* line 89, ../sass/_partials/_structure.scss */
.instafeed-container {
  background-image: url(../images/4b.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 6em 2em;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
.instafeed-container:after {
  content: "";
  display: table;
  clear: both;
}
